Closest Station Results
<ul class="station">
  <% binding.pry %>
  <li class="name"><%= station.name %></li>
  <li class="address"><%= station.address %></li>
  <li class="fuel_type"><%= station.fuel_type %></li>
  <li class="distance"><%= station.distance %></li>
</ul>
