Closest Station Results
<ul class="station">
  <li class="name"><%= facade.station.name %></li>
  <li class="address"><%= facade.station.address %></li>
  <li class="fuel_type"><%= facade.station.fuel_type %></li>
</ul>
